@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*, *:before, *:after{
box-sizing: border-box;
}

html,body {
margin: 0;
padding: 0;
clear: both;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #3b4045;
    font-family: "Josefin Sans", sans-serif;

}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
}
.clearfix:after {
    clear: both;
}
li {
    list-style: none;
}

p {
    font-size: 18px;
    line-height: 25px;
    margin: 0px;
}
h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
a{
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1140px;
}
.header {
  height: 100vh;
  color: #3b4045;
}

.header-logo {
    float: left;
    padding: 15px 10px;
    margin-left: 10rem;
}
.navbar {
    display: flex;
    align-items: center;
}
.nav {
    margin-top:2px;
    margin-left: auto;
    
}
.nav-item {
    display: inline-block;
}
.nav-item-lınk {
    font-size: 14px;
    color: #444;
    padding: 14px 15px;
    font-weight: bold;
    text-decoration: transparent;
    font-family: 'Josefin Sans', sans-serif;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
}
.nav-item-lınk:hover {
    color: #444;
    text-decoration: underline;
}
.header-logo h1{
    color: #444;
    font-size: 25px;
    margin: 0;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
}
.wrap_header_desc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    margin-left: 10rem;
}
img{
    max-width: 100%;
    vertical-align: middle;
}

.heading_description{
    width: 50%;
}
.title_heading{ 
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 19px;
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.2;
    
}
.title_desc{
   font-size: 20px;
    line-height: 1.3;
    font-family: 'Josefin Sans', sans-serif;
}
.btn_head{
    margin-top: 30px;
}
.btn{
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px 40px;
    display: inline-block;
    background-color: #f9a743;
    box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
    background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
}
/*feature*/
.feature{
    padding: 100px 0;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.heading h2 {
    color: #3c3c3c;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}
.heading {
    text-align: center;
    color: #777777;
}
.feature_block_left{
    padding: 55px;
    width: 35%;
}

.feature_block_right{
    padding: 15px;
    width: 35%;
}
.feature_block {
    padding: 15px;
}
.feature_block i {
    font-size: 30px;
    margin-bottom: 10px;
    display: inline-block;
}
.feature_block h4 {
    font-weight: bold;
    margin-bottom: 8px;
}
.feature_block p {
    line-height: 1.1;
}
/*details*/

.details {
    padding: 100px 0;
    background: #f9a743;
}
.details .context{
    width: 40%;
}
.details .subheading{
    color: #3c3c3c;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
}
.details .context h2 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-align: left;
}
.details .context p {
    color: #fff;
    font-size: 18px;
}
/*feature-list*/
.feature-list {
    padding: 100px 0;
}
.feature-list p{
    color: #373a3c;
}
.btn-main{
    margin-top: 15px;
}

.subheading{
    color: #3c3c3c;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 32px;
    line-height: 5px;
}
.context h2 {
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-align: left;
}
.context p {
    font-size: 18px;
}

.first_block{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.second_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*call*/
.call{
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-size: cover;
       color: #fff;
       position: relative;
}
.bg-opacity {
    position: relative;
}
.bg-image {
    background-image: url(../img/call-to-action.jpg);
    height: 50vh;
}
.bg-opacity:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}
.block{
    position: relative;
    top: 45px;
    margin: 0 auto;
    z-index: 5;
}
.block h2 {
    color: #fff;
    padding-bottom: 0;
    text-align: center;
}
 .block p {
    text-align: center;
    color: #fff;
}
.input-call input {
    height: 50px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
    width: 65%;
    padding-left: 15px;
    box-shadow: none;
}
.input-call {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: table;
    border-collapse: separate;
}
.input-call-btn {
    position: relative;
    font-size: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    white-space: nowrap;
}
 .input-call .btn-main {
    padding: 13px 40px;
}
.text-center {
    text-align: center;
}

/*team*/
.command{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 .command-block{
    padding: 0 10px;
} 
.command-block i {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
    color: #f9a743;
}
 .command-block .author-details {
    margin-top: 30px;
}
.command-block .author-details img {
    border-radius: 50%;
    width: 50px;
}
.team_btn{
    padding: 50px;
}
/*footer*/
footer {
    text-align: center;
    background: #f4f4f4;
    padding: 50px 0px;
    margin-top: 50px;
}
.nav_footer{
    margin-top: 20px;
}
footer .footer-logo {
    color: #555;
}
.footer-text {
    font-weight: 300;
    font-size: 12px;
    color: #888;
    letter-spacing: 3px;
    margin-top: 15px;
}